:root {
    font-size: 100%;
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
    hyphens: none;


    --color-primary: #B80943;
    --color-secondary: #F2B861;
    --color-bg: #FEFBF4;
    --color-text: #1d1d1b;

    --font-title: 'Mochiy Pop One', sans-serif;
    --font-subtitle: 'Kaisei Decol';
    --font-text: 'Inter', sans-serif;


    --fs-h1: clamp(2rem, 6vw, 3rem);
    --fs-h2: clamp(1.2rem, 3vw, 2rem);
    --fs-p: clamp(0.8rem, 2vw, 1.5rem);
    --fs-big: clamp(4rem, 6vw, 3rem);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

*::before,
*::after {
    display: block;
}

img,
picture,
video,
iframe,
figure,
canvas {
    max-width: 100%;
    display: block;
    width: 100%;
    height: initial;
    object-fit: cover;
    object-position: center center;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font: inherit;
}

p {
    hyphens: none;
}


p a {
    display: inline;

}


li,
menu,
summary {
    list-style-type: none;
}

ol {
    counter-reset: revert;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em,
pre,
code,
mark,
del {
    font: inherit;
    line-height: 1em;
    text-decoration: none;
    color: inherit;
    overflow-wrap: break-word;
    text-wrap: pretty;
    hyphens: none;
}

mark {
    background-color: transparent;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: none;
}

form,
input,
textarea,
select,
button,
label {
    font: inherit;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    appearance: none;
}

fieldset {
    border: none;
}

::placeholder {
    color: unset;
}

button,
label {
    cursor: pointer;
    hyphens: none;
}

table,
tr,
td,
th,
tbody,
thead,
tfoot {
    border-collapse: collapse;
    border-spacing: 0;
    font: inherit;
}

svg {
    width: 2rem;
    height: initial;
    display: block;

}

html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    width: 100%;
    line-height: 1.5em;
    color: inherit;
    hyphens: auto;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    background-color: rgb(250, 240, 230);


}
/*Header*/
.Header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;





}

.Header-btn {

    display: none;

}

.Header-svg {
    color: var(--color-primary);
}

.Header-logo {

    width: 8rem;
    min-height: fit-content;


}

.Header-a {}

.Header-img {}

.Header-section {
    color: var(--color-primary);
}

.Header-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.Header-menu {}

.Header-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.Header-option {}

.Header-icons {}

.Header-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem;

}

.Header-li {}

.Header-link {}

.Header-icon--user {
    color: var(--color-primary);
    width: 1.5rem;
}

.Header-icon--cart {
    color: var(--color-primary);
    width: 1.5rem;
}

@media(max-width:950px) {
    body {
        overflow: hidden;
    }

    .Header-logo {
        position: absolute;
        top: center;
        left: 40%;
        width: 7rem;

    }

    .Header-btn {
        display: block;
    }

    .Header-list {
        display: none;
    }


}

@media(max-width:500px) {
    body {
        overflow: hidden;
    }

    .Header-nav {
        display: none;
    }

    .Header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;



    }

    .Header-btn {
        position: sticky;
        top: start;
        left: start;
        margin: 1rem;

    }

    .Header-logo {
        position: absolute;
        top: center;
        left: 40%;
        width: 5rem;


    }

}
/* Header de la web Nosotros */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
}

.hero-title {
  font-family: var(--font-title);
  font-size: clamp(2rem, 5vw, 3.5rem);
}

.hero-subtitle {
  font-size: 1.2rem;
  opacity: 0.9;
}

/* overlay oscuro */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
  z-index: 1;
}

/* Comenzar de la timeline */
.timeline {
  position: relative;
  max-width: 1100px;
  margin: auto;
  padding: 5rem 1rem;
}

/* línea central */
.timeline-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 3px;
  height: 100%;
  background: var(--color-primary);
  transform: translateX(-50%);
}

/* ITEM */
.timeline-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 4rem 0;

  opacity: 0;
  transform: translateY(60px);
  transition: all 0.6s ease;
}

/* alternar lados */
.timeline-item-reverse {
  flex-direction: row-reverse;
}

/* imagen */
.timeline-media {
  width: 45%;
  border-radius: 1rem;
}

.timeline-media img {
  width: 100%;
  border-radius: 1rem;
  display: block;
}

/* texto */
.timeline-content {
  width: 45%;
}

.timeline-title {
  font-family: var(--font-title);
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.timeline-text {
  font-size: 0.95rem;
  line-height: 1.6;
}

/* estado visible */
.timeline-item.show {
  opacity: 1;
  transform: translateY(0);
}

/* Timeline puntos */
.timeline-item::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background: white;
  border: 3px solid var(--color-primary);
  border-radius: 50%;
}

/* Responsive */
@media (max-width: 768px) {

  .timeline-line {
    left: 10px;
  }

  .timeline-item,
  .timeline-item-reverse {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline-media,
  .timeline-content {
    width: 100%;
  }

  .timeline-item::before {
    left: 10px;
    transform: none;
  }
}

@media (max-width: 500px) {

  .timeline-line {
    display:none;
  }
 .timeline-item::before {
    display:none;
 }

 .timeline{
   padding: 0 1rem; 
 }
  
}

.Footer {
    background-color: var(--color-primary);
    color: var(--color-bg);
    padding: 3rem 2rem;
}

.Footer-wrapper {
    max-width: 1200px;
    margin: 1rem auto 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: start;
}


.Footer-brand img {
    width: 18vh;

}


.Footer-list,
.Footer-legal ul,
.Footer-icons {
    padding: 0;
    margin: 0;

}

.Footer-li {
    margin-bottom: 1rem;
}


.Footer a {
    color: var(--color-bg);
    font-size: var(--fs-p);
    font-family: var(--font-text);
}

.Footer a:hover {
    text-decoration: underline;
}

.Footer-social p {
    margin-bottom: 1rem;
    font-size: var(--fs-p);
    line-height: 1.5;
}

.Footer-icons {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

.Footer-link {
    width: 3rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--color-bg);
    border-radius: 50%;

    transition: all 0.3s ease;
}

.Footer-icon {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
}

.Footer-icon--mail {
    width: 1.8rem;
    height: 1.8rem;
}

.Footer-link:hover {
    background-color: var(--color-bg);
    color: var(--color-primary);
    transform: translateY(-2px);
}


@media (max-width: 768px) {
    .Footer-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .Footer-wrapper {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .Footer-icons {
        justify-content: center;
    }

    .Footer-brand {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
}